fastjsonschema==2.20.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
robotframework==7.1.1
robotframework-assertion-engine==3.0.3
robotframework-browser==18.9.1
robotframework-csvlibrary==0.0.5
robotframework-databaselibrary==2.4.1
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.6.1
robotframework-jsonschemalibrary==1.0